<div class="nav-container">
  <nav class="navigation">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">Главная</a>
    <a routerLink="/map" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">Карта</a>
    <a routerLink="/routes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">Между станциями</a>
    <a routerLink="/favorites" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">Избранное</a>
  </nav>
</div>
